.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
}
.header-nav {
}
.nav {
}
.logo {
}
.link {
}
.logo-dark {
}
.nav-list {
}
.list {
}
.nav-item {
}
.nav-link {
}
.header-address {
}
.address-list {
}
.address-item {
}
.address-link {
}
.main {
}
.intro {
}
.section {
}
.intro-title {
}
.intro-btn {
}
.goals {
}
.goals-title {
}
.goals-list {
}
.goals-item {
}
.goals-subtitle {
}
.goals-text {
}
.team {
}
.team-title {
}
.team-list {
}
.team-img {
}
.team-subtitle {
}
.team-text {
}
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-link {
}
.portfolio-img {
}
.portfolio-subtitle {
}
.portfolio-text {
}
.footer {
}
.logo-light {
}
.footer-text {
}
